.icon {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  padding: 20px;
  align-items: center;
  min-width: 190px;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  padding-top: 50px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons_describe {
  display: none;
  padding: 1rem;
  border-radius: 10px;
}

.strip__two {
  background-color: white;
  margin: -1.5rem 10rem -5rem auto;
  width: 250px;
  height: 1300px;
  opacity: 0.8;
  padding-top: 20px;
}

@media (min-width: 600px) {
  .strip__two {
    width: 550px;
    font-size: 14px;
    margin-bottom: 1px;
  }
  .rules {
    gap: 2px;
  }
  .icons_describe {
    display: block;
  }
  .icons {
    width: 90%;
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .strip__two {
    width: 640px;
    font-size: 1rem;
    padding-bottom: 80px;
  }
}

.popupRules {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 70px;
  background-color: rgb(245, 245, 245, 0.8);
  margin-top: 20px;
}
