/* h1 {
  margin-left: 5px;
} */

.icon {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  padding: 20px;
  align-items: center;
  min-width: 190px;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  width: 100%;
  /* margin-left: 25px; */
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons_describe {
  display: none;
  padding: 1rem;
  /* border: 2px solid black; */
  border-radius: 10px;
}

.strip__two {
  margin: -1.5rem 10rem -5rem auto;
  width: 250px;
  opacity: 0.8;
}

@media (min-width: 600px) {
  .strip__two {
    width: 550px;
    font-size: 1rem;
  }
  .icons_describe {
    display: block;
  }
  .icons {
    width: 90%;
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .icons_describe {
    display: block;
  }
  .strip__two {
    width: 640px;
    font-size: 1rem;
  }
}
