.icon {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px;
  width: 50%;
  align-items: center;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
}

.icons_describe {
  display: none;
}

@media (min-width: 600px) {
  .icons_describe {
    display: block;
  }
}

@media (min-width: 600px) {
  .strip {
    max-width: 15rem;
    font-size: 10px;
  }
  /* .icon {
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 100px;
    height: 80px;
    font-size: 18px;

  } */
}

@media (min-width: 1200px) {
  .strip {
    max-width: 30rem;
    font-size: 12px;
  }
}
