.icon {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  padding: 20px;
  align-items: center;
  /* gap: 5px; */
  min-width: 190px;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
  padding: 20px;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;

  /* justify-content: center; */
  align-items: center;
  padding: 30px;
}

.icons_describe {
  display: none;
  padding: 1rem;
  /* border: 2px solid black; */
  border-radius: 10px;
}

@media (min-width: 600px) {
  .icons_describe {
    display: block;
  }
  .strip__two {
    width: 30rem;
    font-size: 1rem;
  }
  .icons {
    width: 90%;
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .strip__two {
    width: 40rem;
    font-size: 1rem;
  }
}
