.search__groups {
  display: flex;
  justify-content: space-evenly;
}
.variations__result {
  width: 8rem;
  height: 8rem;
  font-size: 2rem;
  background-color: rgba(81, 162, 14, 0.5);
  border-radius: 10px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.search__variations {
  border: 1px black solid;
  border-radius: 15px;
  max-width: 40%;
  height: 80%;
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  flex: 1;
}

.search__icon {
  background-color: rgba(184, 184, 184, 0.3);
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}
.variations__checkbox-slot {
  display: flex;
  flex-direction: column;
}

.variations__checkbox-slot--var {
  display: flex;
  justify-content: left;
}
.variations__checkbox,
label {
  align-self: center;
}

ul {
  list-style-position: inside;
}
.variations__groups {
  text-align: left;
  line-height: 1.4;
}
.variations__note {
  font-size: 0.8rem;
  width: 80%;
}
