.search__result--notes {
  padding: 2rem;
}

.search__result--bin {
  padding: 2rem;
}

ul {
  list-style-position: inside;
}
.search__result--text {
  list-style-type: disc;
  text-align: left;
  line-height: 1.4;
}
