.search__result--notes {
  text-align: left;
}

.search__result--bin {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__result--text {
  list-style-type: disc;
  text-align: left;
  line-height: 1.4;
}

.search__icon {
  background-color: rgba(184, 184, 184, 0.3);
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

@media (min-width: 550px) {
  .search__result--notes {
    margin-left: 15px;
  }
}

@media (min-width: 700px) {
}
