.uvod {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding-top: 70px;
}

.strip__title {
  padding: 1rem;
  font-size: 1.5rem;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 1rem 0;
}

.strip__content {
  padding: 2rem 1.5rem;
  font-size: 1rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

.strip__content--three {
  margin-bottom: 3rem;
}

.strip__one {
  background-color: white;
  opacity: 0.8;
  margin: -2.5rem 5rem;
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  .uvod {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .strip__one {
    font-size: 2rem;
    margin: 0 0 1px 0;
    width: 60%;
    margin: -2.5rem 5rem;
    padding-top: 3rem;
    padding-bottom: 10rem;
  }

  .strip__title {
    font-size: 2rem;
  }

  .strip__content {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .strip__one {
    max-width: 33rem;
  }
}
