.search__form {
  border: 1px black solid;
  border-radius: 15px;
  min-width: 30%;
  max-width: 35%;
  height: 80%;
  background-color: white;
  margin: 2rem;
  flex: 1;
  padding: 5rem;
}

@media (min-width: 700px) {
  .search__form {
    min-width: 50%;
    margin-left: 0;
  }

  .search__bar {
    text-align: left;
  }

  .search__input {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom: 3px black solid;
    line-height: 3rem;
    margin: auto;
    width: 80%;
  }

  .search__field {
    margin-top: 5rem;
  }
}
