img {
  width: 100%;
}
.search__form {
  border: 1px black solid;
  border-radius: 15px;
  min-width: 30%;
  max-width: 50%;
  height: 80%;
  background-color: white;
  margin: auto;
}

.search__bar {
  display: flex;
  width: 100%;
  margin: 2rem;
  text-align: left;
}

.search__input {
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom: 3px black solid;
  line-height: 3rem;
  margin: auto;
  width: 100%;
}

.search__result {
  display: flex;
}
.search__result--text {
  font-size: 1rem;
  width: 50%;
}

.css-1s2u09g-control {
  border-style: none;
}
