.search__form {
  border: 1px black solid;
  border-radius: 15px;
  background-color: white;
  margin: 2rem;
  padding: 1rem;
  width: auto;
}

.search__bar {
  text-align: left;
  margin: 1.5rem 1rem;
}

.search__field {
  margin-top: 3rem;
}

@media (min-width: 700px) {
  .search__form {
    max-width: 50%;
    margin-left: 0;
    padding: 3rem 1rem 1rem 1rem;
    flex: 1;
    height: 80%;
  }

  .search__input {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom: 3px black solid;
    line-height: 3rem;
    margin: auto;
    width: 80%;
  }

  .search__field {
    margin: 0;
  }
  .search__bar {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .search__form {
    max-width: 50%;
    height: 80%;
    flex: 1;
    padding: 4rem;
    margin: 2rem;
  }
  .search__bar {
    margin: 0;
  }
}

@media (min-width: 1700px) {
  .search__form {
    height: 70%;

    flex: 1;
  }
}
