.uvod {
  /* display: flex; */
}

.strip__title {
  padding: 1rem;
  font-size: 3rem;
}

.strip__content {
  padding: 2rem;
  font-size: 2rem;
}

.strip__one {
  margin: -2.5rem 5rem;
  width: 250px;

  opacity: 0.8;
}

/* @media (min-width: 600px) {
  .strip_one {
    width: 20%;
  }
} */
