@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.main {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.search {
  height: 180rem;
}
.footer__bottom {
  background-color: bisque;
  opacity: 0.5;
  margin: 0;
}
@media (min-width: 550px) {
  .search {
    height: 150rem;
  }
}
@media (min-width: 700px) {
  .search {
    display: block;
    display: flex;
    height: 1300px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .search {
    gap: 4rem;
  }
}
