@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.main {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 80px;
}

.strip {
  background-color: white;
  position: absolute;
  max-width: 8rem;
  /* max-height: 25rem; */
  font-size: 8px;
}
.strip__one {
  left: 20%;
  width: 20rem;
  height: 100%;
}
.strip__two {
  right: 15%;
  width: 20rem;
  height: 100%;
}
.strip__three {
  right: 10%;
  width: 20rem;
  height: 100%;
}
.search {
  background-image: url('./img/dust_bin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100vw;
  height: 100vh;
  display: flex;
}
