@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.main {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 4.5rem;
  /* font-size: 1.5rem; */
}

.strip {
  background-color: white;
  position: absolute;
}
.strip__one {
  left: 5rem;
  width: 20%;
  height: 100%;
  opacity: 0.8;
}
.strip__two {
  right: 15%;
  width: 20rem;
  height: 1300px;
  opacity: 0.8;
}

.search {
  display: flex;
  height: 1300px;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.footer__bottom {
  background-color: bisque;
  opacity: 0.5;
  margin: 0;
}
