@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.main {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 4.5rem;
}

.strip {
  background-color: white;
}
.strip__one {
  margin: -2.5rem 5rem;
  width: 50%;

  opacity: 0.8;
}
.strip__two {
  right: 15%;
  width: 50%;
  height: 1300px;
  opacity: 0.8;
}

.search {
  display: flex;
  height: 1300px;
  justify-content: center;
  align-items: center;
}
.footer__bottom {
  background-color: bisque;
  opacity: 0.5;
  margin: 0;
}
