.buble__content {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  width: 30%;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  text-align: center;
  padding: 2rem;
  /*text-shadow: 2px 2px rgb(202, 191, 191);*/
  display: none;
}

.buble__left {
  left: 0px;
  top: 60%;
  border-radius: 0px 30px 30px 0px;
}
.buble__right {
  right: 0px;
  top: 60%;
  border-radius: 30px 0px 0px 30px;
}

@media (min-width: 600px) {
  .buble__content {
    display: block;
  }
}
