.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-items: center;
  margin: 20px 15px 20px 15px;
}

.footer__right,
.footer__left {
  max-width: 80%;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style: none;
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    margin: 30px 10px 30px 10px;
  }
  .footer__right,
  .footer__left {
    width: 50%;
  }
}
