.footer {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  margin: 20px 15px 20px 15px;
  text-align: center;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: aqua;
}
img {
  width: 18rem;
  height: 8rem;
}
.footer__right ul {
  line-height: 1.6;
  margin: 1rem;
  text-align: left;
}
@media (min-width: 600px) {
  .footer {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    margin: 30px 10px 30px 10px;
  }

  .footer__right,
  .footer__left {
    max-width: 80%;
    min-width: 50%;
  }
}
.footer__right li {
  list-style-position: inside;
}
